In [ ]:
import numpy as np
import pandas as pd

# To create a dataframe from a dictionary and display it

In [ ]:
data = {
    'words': ['Fifteen', 'Twelve', 'Thirteen', 'Eleven', 'Fourteen'],
    'number': [11, 12, 13, 14, 15],
}

df = pd.DataFrame(data)
df

# To sort the DataFrame first by 'name' in ascending order

In [ ]:
data = {
    'name': ['adi', 'Misty', 'Vansh', 'Arya', 'Heena'],
    'number': [11, 12, 13, 14, 15],
}
df = pd.DataFrame(data)
sorted_df=df.sort_values(by='name', ascending=True)
sorted_df

# To delete the one specific column from the DataFrame

In [ ]:
del df['number']
df

# To write a DataFrame to CSV file using tab separator

In [ ]:
data = {
    'name': ['adi', 'Misty', 'Vansh', 'Arya', 'Heena'],
    'number': [11, 12, 13, 14, 15],
}
df = pd.DataFrame(data)

df.to_csv('name.csv', sep='\t')

print("Data are converted in csv form")