In [1]:
import numpy as np
import pandas as pd

# To create a dataframe from a dictionary and display it

In [2]:
#216270307011
#YASH S YOGANANDI
data = {
    'words': ['Fifteen', 'Twelve', 'Thirteen', 'Eleven', 'Fourteen'],
    'number': [11, 12, 13, 14, 15],
}

df = pd.DataFrame(data)
df

      words  number
0   Fifteen      11
1    Twelve      12
2  Thirteen      13
3    Eleven      14
4  Fourteen      15

# To sort the DataFrame first by 'name' in ascending order

In [3]:
#216270307011
#YASH S YOGANANDI
data = {
    'name': ['adi', 'Misty', 'Vansh', 'Arya', 'Heena'],
    'number': [11, 12, 13, 14, 15],
}
df = pd.DataFrame(data)
sorted_df=df.sort_values(by='name', ascending=True)
sorted_df

    name  number
3   Arya      14
4  Heena      15
1  Misty      12
2  Vansh      13
0    adi      11

# To delete the one specific column from the DataFrame

In [4]:
#216270307011
#YASH S YOGANANDI
del df['number']
df

    name
0    adi
1  Misty
2  Vansh
3   Arya
4  Heena

# To write a DataFrame to CSV file using tab separator

In [5]:
#216270307011
#YASH S YOGANANDI
data = {
    'name': ['adi', 'Misty', 'Vansh', 'Arya', 'Heena'],
    'number': [11, 12, 13, 14, 15],
}
df = pd.DataFrame(data)

df.to_csv('name.csv', sep='\t')

print("Data are converted in csv form")

Data are converted in csv form